@import "tailwindcss";

@theme {
  --color-canvas: #131111;
  --color-cypress-100: #056257;
  --color-cypress-150: #04463e;
  --color-cypress-10: #e6efee;
  --color-cypress-5: #f3f7f7;
  --color-forest: #054742;
  --color-gray-100: #272727;
  --color-gray-80: #525252;
  --color-gray-60: #727272;
  --color-gray-20: #d4d4d4;
  --color-gray-5: #e9e9e9;

  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}
